@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.container {
  padding: 0 8.125rem;
  padding-top: 4.375rem;
}

.spanColor {
  color: #7019ff;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* Main */
main {
  position: relative;
  height: 92vh;
  width: 100%;
  background-color: #eef5fe;
  border-bottom: 2px solid #7019ff;
}

.mainInfos {
  width: 60%;
  padding-top: 4.375rem;
  padding-left: 8.125rem;
  position: relative;
}

.dateAnd_userName,
.mainTitle {
  margin-bottom: 1.5rem;
}
.lessonDate {
  border-radius: 50px;
  border: 2px solid #7019ff;
  width: 12.8125rem;
  height: 2.875rem;
  flex-shrink: 0;
  margin-right: 1.375rem;
}
.lessonDate h3 {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.name,
.freeLesson {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.freeLesson {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: -0.38px;
}

.mainTitle h1 {
  color: #000;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.twoDayPlans {
  width: 65%;
}
.twoDayPlans_title,
.twoDayPlans_items {
  margin-bottom: 1.88rem;
}
.twoDayPlans_title h1 {
  color: #7019ff;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.twoDayPlans_item {
  margin-bottom: 1.12rem;
}
.twoDayPlans_item:last-child {
  margin-bottom: 0;
}
.twoDayPlans_item_svg svg {
  margin-right: 1.12rem;
  width: 1.5rem;
  height: 1.5rem;
}
.twoDayPlans_item p {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.registerAnd_price {
  margin-bottom: 2.12rem;
}
.registerBtn {
  height: 3.375rem;
  padding: 0.75rem 1.5rem;
  border-radius: 1.125rem;
  background: #ff1919;
  border: 2px solid transparent;
  cursor: pointer;
  margin-right: 1.88rem;
  transition: all 0.2s linear;
}
.registerBtn:hover {
  background-color: white;
  border: 2px solid #ff1919;
}
.registerBtn h3 {
  color: #fff;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.registerBtn:hover h3 {
  color: #ff1919;
}

.deletedPrice h3 {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}
.nowPrice h3 {
  color: #ff1919;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.lessonBonus {
  position: absolute;
  width: 29rem;
  border-radius: 0.75rem;
  border: 2px solid #7019ff;
  background: #fff;
  z-index: 3;
  padding: 1.06rem 1.69rem 1.06rem 1rem;
}
.lessonBonus_img img {
  width: 3.5rem;
  height: 4.9375rem;
  margin-right: 1.81rem;
}
.lessonBonus_p p {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}

.mainImgs {
  width: 40%;
}
.userImg,
.circleImg {
  position: absolute;
  bottom: -0.4rem;
}
.circleImg {
  right: 3rem;
  z-index: 1;
}
.userImg {
  z-index: 2;
  right: 0;
}
.userImg img {
  width: auto;
  height: 44rem;
}
.circleImg img {
  width: auto;
  height: 22.5rem;
}

/* Contact */
.container {
  padding: 5.45rem 8.25rem 0 8.25rem;
  width: 100%;
  justify-content: space-between;
}
.contactInfos {
  width: 48%;
}
.contactLinks {
  width: 34%;
  justify-content: space-between;
}
.contactInfos_img img {
  width: 6.375rem;
  height: 6.375rem;
  margin-right: 1.69rem;
}
.contactInfos_textTitle,
.contactInfos_textNumber,
.contactInfos_textEmail {
  margin-bottom: 1rem;
}
.contactInfos_text div:last-child {
  margin-bottom: 0;
}
.contactInfos_textTitle h1 {
  color: #000;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.contactInfos_textNumber h1,
.contactInfos_textEmail h1,
.contactInfos_textLocation h1 {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}
.contactInfos_textNumber svg,
.contactInfos_textEmail svg,
.contactInfos_textLocation svg {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.contactLinks p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.blackText {
  color: #000;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.hr {
  margin: 1.5rem 8.15rem;
  height: 0.0625rem;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.footerText h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 1.5rem;
}

.finalStep {
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
.finallyStep_text {
  width: 35%;
}
.finallyStep_text_title svg {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1rem;
}
.finallyStep_text_title h1 {
  color: #000;
  font-size: 3.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 117%;
}
.mr-3 {
  margin-right: 3rem;
}
.finallyStep_img {
  width: 55%;
  justify-content: center;
}
.finallyStep_img img {
  width: auto;
  height: 35rem;
}
.finallyStep_text_p p {
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 2rem 0;
}
.subscribe_button {
  width: 30.8125rem;
  height: 3.375rem;
  border-radius: 6.25rem;
  background: #0e94d0;
  border: none;
  outline: none;
  cursor: pointer;
}
.subscribe_button svg {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.subscribe_button h1 {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.formModal {
  position: fixed;
  top: -5%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 11;
  width: 935px;
  height: auto;
  border-radius: 1rem;
  background-color: #fff;
}

.formModal .left {
  background-image: url("./img/modalImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 45%;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.formModal .right {
  padding: 2.3rem;
  width: 55%;
}

.formModal .right h2 {
  font-size: 2rem;
  line-height: 132%;
}

.formModal .right p {
  font-size: 1.2rem;
  line-height: 132%;
}

.formModal form {
  margin-top: 1.5rem;
}

.formModal input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid #bed4da;
  background: #f3f7f8;
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
}

.formModal label {
  color: #48635b;
  font-size: 16px;
  line-height: 132%;
  margin-bottom: 0.5rem;
}

.formModal .right button {
  width: 100%;
  padding: 1rem 0;
  border-radius: 0.75rem;
  background: #ff1919;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 132%;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}

.overlayBg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(56, 46, 74, 0.5);
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .formModal {
    width: 365px;
    flex-direction: column;
    /* margin: 1rem; */
    position: fixed;
    top: -30%;
    left: 50%;
  }

  .formModal .left {
    width: 100%;
    height: 370px;
    position: relative;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1rem;
  }

  .formModal .right {
    width: 100%;
  }

  .formModal input {
    padding: 1.2rem;
    font-size: 1.3rem;
  }
  .formModal .left button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  main {
    flex-direction: column;
    height: auto;
  }
  .dateAnd_userName {
    flex-direction: column;
  }
  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .name {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .freeLesson {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .lessonDate {
    margin-right: 0;
  }
  .mainInfos {
    width: 100%;
    padding-left: 0;
    padding-top: 3.13rem;
  }
  .userName {
    margin-top: 0.87rem;
  }
  .mainTitle {
    display: flex;
    justify-content: center;
    padding: 0 0.87rem;
  }
  .mainTitle h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .twoDayPlans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
  }
  .twoDayPlans_title {
    margin-bottom: 0.75rem;
  }
  .lessonBonus {
    position: relative;
    margin-right: 0;
  }
  .registerAnd_price {
    justify-content: space-between;
    padding: 0 1.6rem;
    margin-bottom: 1.75rem;
  }
  .registerBtn {
    margin-right: 0;
  }
  .mainImgs {
    width: 100%;
  }
  .userImg,
  .circleImg {
    position: relative;
    width: 100%;
  }
  .circleImg {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }
  .userImg img {
    height: auto;
    width: 100%;
  }
  .circleImg img {
    width: 100%;
    height: auto;
  }
  .container {
    flex-direction: column;
  }
  .contactInfos {
    flex-direction: column;
    width: 100%;
  }
  .contactLinks {
    width: 100%;
  }
  .lessonBonus {
    width: auto;
    margin: 0 1.6rem;
  }
  .contactInfos_img {
    display: flex;
    justify-content: center;
  }
  .contactInfos_img img {
    margin-right: 0;
  }
  .contactInfos_textTitle h1 {
    text-align: center;
  }
  .contactInfos_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .container {
    padding: 1.5rem 2.8rem;
    padding-bottom: 0;
  }
  .contactLinks p {
    text-align: center;
  }
  .contactLinks_p1 {
    margin-bottom: 1.5rem;
  }
  .hr {
    margin: 1.5rem 2.8rem;
  }

  .finalStep {
    flex-direction: column-reverse;
  }
  .finallyStep_img img {
    width: 20rem;
    height: auto;
    margin-top: 5rem;
  }
  .finallyStep_text {
    width: 100%;
  }
  .finallyStep_img  {
    width: 100%;
  }
  .mr-3 {
    margin-right: 0;
  }
}
