@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.container {
  padding: 0 8.125rem;
  padding-top: 4.375rem;
}

.spanColor {
  color: #7019ff;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* Main */
main {
  position: relative;
  height: 103vh;
  width: 100vw;
  background: url("./img/Rectangle\ 1.svg") top center no-repeat;
  background-size: cover;
}

.mainInfos {
  width: 60%;
  padding-top: 4.375rem;
  padding-left: 8.125rem;
  position: relative;
}

.dateAnd_userName,
.mainTitle {
  margin-bottom: 2rem;
}
.lessonDate {
  border-radius: 50px;
  border: 2px solid #7019ff;
  width: 12.8125rem;
  height: 2.875rem;
  flex-shrink: 0;
  margin-right: 1.375rem;
}
.lessonDate h3 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
}
.name,
.freeLesson {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}
.freeLesson {
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: -0.38px;
}

.mainTitle h1 {
  color: #000;
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 125%;
}

.twoDayPlans {
  width: 65%;
}
.twoDayPlans_title,
.twoDayPlans_items {
  margin-bottom: 2.2rem;
}
.twoDayPlans_title h1 {
  color: #7019ff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
}

.twoDayPlans_item {
  margin-bottom: 1.12rem;
}
.twoDayPlans_item:last-child {
  margin-bottom: 0;
}
.twoDayPlans_item_svg img {
  margin-right: 1.12rem;
  width: 1.5rem;
  height: 1.5rem;
}
.twoDayPlans_item p {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 125%;
}

.registerAnd_price {
  margin-bottom: 3rem;
}
.registerBtn {
  padding: 1.1rem 3.5rem;
  border-radius: 1.125rem;
  background: #ff1919;
  border: 2px solid transparent;
  cursor: pointer;
  margin-right: 1.88rem;
  transition: all 0.2s linear;
}
.registerBtn:hover {
  background-color: white;
  border: 2px solid #ff1919;
}
.registerBtn h3 {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 125%;
  text-transform: uppercase;
  transition: all 0.2s linear;
}
.registerBtn:hover h3 {
  color: #ff1919;
}

.deletedPrice h3 {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 125%;
  text-decoration-line: strikethrough;
  text-decoration: line-through;
}
.nowPrice h3 {
  color: #ff1919;
  font-size: 2rem;
  font-weight: 600;
  line-height: 125%;
}

.lessonBonus {
  position: absolute;
  width: 29rem;
  border-radius: 0.75rem;
  border: 2px solid #7019ff;
  background: #fff;
  z-index: 3;
  padding: 1.06rem 1.69rem 1.06rem 1rem;
}
.lessonBonus_img img {
  width: 3.5rem;
  height: 4.9375rem;
  margin-right: 1.81rem;
}
.lessonBonus_p p {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 125%;
}

.mainImgs {
  width: 40%;
}
.mainImgs img {
  height: 100%;
  position: absolute;
  right: -0.5rem;
  bottom: 0;
}

/* Contact */
.container {
  padding: 5.45rem 8.25rem 0 8.25rem;
  width: 100%;
  justify-content: space-between;
}
.contactInfos {
  width: 48%;
}
.contactLinks {
  width: 34%;
  justify-content: space-between;
}
.contactInfos_img img {
  width: 6.375rem;
  height: 6.375rem;
  margin-right: 1.69rem;
}
.contactInfos_textTitle,
.contactInfos_textNumber,
.contactInfos_textEmail {
  margin-bottom: 1rem;
}
.contactInfos_text div:last-child {
  margin-bottom: 0;
}
.contactInfos_textTitle h1 {
  color: #000;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 125%;
}
.contactInfos_textNumber h1,
.contactInfos_textEmail h1,
.contactInfos_textLocation h1 {
  color: #000;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 125%;
}
.contactInfos_textNumber img,
.contactInfos_textEmail img,
.contactInfos_textLocation img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.contactLinks p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
}
.blackText {
  color: #000;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 140%;
}

.hr {
  margin: 1.5rem 8.15rem;
  height: 0.0625rem;
  background: rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.footerText h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 1.5rem;
}

.finalStep {
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  padding: 6rem;
}
.finallyStep_text {
  width: 38%;
}
.finallyStep_text_title img {
  width: 7.5rem;
  height: 7.5rem;
  margin-right: 1rem;
}
.finallyStep_text_title h1 {
  color: #000;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 117%;
  width: 65%;
}
.mr-3 {
  margin-right: 3rem;
}
.finallyStep_img {
  width: 50%;
  justify-content: center;
}
.finallyStep_img img {
  width: auto;
  height: 35rem;
}
.finallyStep_text_p p {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
}
.subscribe_button {
  width: 100%;
  padding: 0.75rem 0;
  border-radius: 6.25rem;
  background: #0e94d0;
  border: none;
  outline: none;
  cursor: pointer;
}
.subscribe_button img {
  margin-right: 1rem;
  width: 2rem;
  height: 2rem;
}
.subscribe_button h1 {
  color: #fff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
}

.formModal {
  position: relative;
  z-index: 15;
  width: 31.75rem;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 1.3rem;
}

.formModal h2 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 132%;
  margin-bottom: 0.75rem;
}

.formModal p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 132%;
}

.formModal form {
  margin-top: 1.5rem;
}

.formModal input {
  width: 100%;
  border-radius: 0.75rem;
  border: 1px solid #bed4da;
  background: #f3f7f8;
  padding: 0.75rem;
  font-size: 1rem;
  outline: none;
}
.formModal input::placeholder {
  color: #bfd2cc;
  font-size: 1rem;
  font-weight: 400;
  line-height: 132%;
}

.formModal label {
  display: inline-block;
  color: #48635b;
  font-size: 16px;
  line-height: 132%;
  margin-bottom: 0.5rem;
}

.formModal button {
  width: 100%;
  padding: 0.9rem 0;
  border-radius: 0.75rem;
  background: #ff1919;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 132%;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.2s linear;
}
.formModal button:hover {
  background-color: white;
  border: 2px solid #ff1919;
  color: #ff1919;
}

.modalClose {
  position: absolute;
  right: 1.3rem;
  top: 1.3rem;
  cursor: pointer;
}

.overlayBg {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(56, 46, 74, 0.5);
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
  main {
    flex-direction: column;
    width: 100vw;
    height: auto;
    background: url("./img/Rectangle\ 1\ min.png") center bottom no-repeat;
    background-size: cover;
  }
  .formModal {
    width: 340px;
    padding: 1.2rem;
  }
  .formModal h2 {
    font-size: 1.7rem;
  }
  .formModal p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.95rem;
    font-weight: 450;
    line-height: 140%;
  }
  .formModal input {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .formModal button {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
  }
  .modalClose {
    display: none;
  }
  .dateAnd_userName {
    flex-direction: column;
  }
  .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .name {
    font-size: 1.125rem;
    font-weight: 600;
  }
  .freeLesson {
    font-size: 0.875rem;
    font-weight: 400;
  }
  .lessonDate {
    margin-right: 0;
  }
  .mainInfos {
    width: 100%;
    padding-left: 0;
    padding-top: 3.13rem;
  }
  .userName {
    margin-top: 0.87rem;
  }
  .mainTitle {
    display: flex;
    justify-content: center;
    padding: 0 0.87rem;
  }
  .mainTitle h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  .twoDayPlans {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.6rem;
  }
  .twoDayPlans_title {
    margin-bottom: 0.75rem;
  }
  .lessonBonus {
    position: relative;
    margin-right: 0;
  }
  .registerAnd_price {
    justify-content: space-between;
    padding: 0 1.6rem;
    margin-bottom: 1.75rem;
  }
  .registerBtn {
    margin-right: 0;
    padding: 1rem 2.5rem;
  }
  .mainImgs {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .mainImgs img {
    position: static;
    height: auto;
    width: 100vw;
    right: auto;
  }
  .container {
    flex-direction: column;
  }
  .contactInfos {
    flex-direction: column;
    width: 100%;
  }
  .contactLinks {
    width: 100%;
  }
  .lessonBonus {
    width: auto;
    margin: 0 1.6rem;
  }
  .contactInfos_img {
    display: flex;
    justify-content: center;
  }
  .contactInfos_img img {
    margin-right: 0;
  }
  .contactInfos_textTitle h1 {
    text-align: center;
  }
  .contactInfos_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .container {
    padding: 1.5rem 2.8rem;
    padding-bottom: 0;
  }
  .contactLinks p {
    text-align: center;
  }
  .contactLinks_p1 {
    margin-bottom: 1.5rem;
  }
  .hr {
    margin: 1.5rem 2.8rem;
  }

  .finalStep {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 5rem 3rem;
  }
  .finallyStep_img img {
    width: 100%;
    height: auto;
  }
  .finallyStep_text {
    margin-top: 5rem;
    width: 100%;
  }
  .finallyStep_text_title h1 {
    width: 80%;
    font-size: 2rem;
  }
  .finallyStep_text p {
    text-align: center;
  }
  .finallyStep_img {
    width: 100%;
  }
  .subscribe_button h1 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-height: 740px) {
  .finallyStep_text {
    margin-top: 2rem;
  }
  .finallyStep_text p {
    font-size: 1.3rem;
  }
}
